[Desktop Entry]
Name=SleepCoach
Name[sv]=Sömncoach
Comment=Sleep routine coach
Comment[sv]=Sömnrutiner och sömnhygien
GenericName=Accessibility Application
GenericName[sv]=Tillgänglighetsapp
Exec=python3 -m sleepcoach
Icon=sleepcoach
Terminal=false
Type=Application
Categories=Utility;Accessibility;
Keywords=accessibility;a11y;
Keywords[sv]=tillgänglighet;funktionsnedsättning;
